.cart-button {
  width: 3rem;
  height: 3rem;
  position: relative;
}

.cart-count {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1.5rem;
  transform: translate(40%, 20%);
}

.card-img {
  height: 200px;
  object-fit: contain;
  padding: 15px 5px;
}

.cart-img {
  height: 100px;
  width: 70px;
  object-fit: contain;
}
